* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #cf1111;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("/images/IMG_9778.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}